.App {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.player-container {
  text-align: center;
  background-color: #2a2f3b;
  color: #f4f1c9;
  font-family: 'Merriweather', serif;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.player-container:hover {
  background-color: #363d4b;

}

.player-container:active {
  background-color: #f4f1c9;
  color: #2a2f3b;
}

.player-main {
  padding: 10px;
}

.player-card {
  width: 100%;
  height: 50vh;
  background-color: #2a2f3b;
  border-radius: 20px;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.75);
}

.control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  cursor: pointer;
  gap: 20px;
}

.icon-1 {
  color: #eee78e;

}

.icon-2 {
  color: white;
}


.activeSong-name {
  color: white;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.activeArtist-name {
  color: white;
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, 0);
}