@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.player-container {
    text-align: center;
    background-color: #2a2f3b;

    color: #f4f1c9;
    font-family: 'Merriweather', serif;
    padding: 4px;
    margin: 10px;
    cursor: pointer;
}

.player-container:hover {
    background-color: #363d4b;

}

.player-container:active {
    background-color: #f4f1c9;
    color: #2a2f3b;
}