@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.player-container {
    text-align: center;
    background-color: #2a2f3b;
    display: flex;
    flex-direction: column;
    color: #f4f1c9;
    font-family: 'Merriweather', serif;
    padding: 20px;
}